{{template "header" .Title}}

<h2>Welcome to the task app</h2>

<ul>
    <!--
    <li><a href='/task/new'>create a new task</a></li>
    -->
    <li><a href='/tasks'>list all tasks</a></li>
    <li><a href='/task/new'>create</a></li>
</ul>

<form action="/search" method="post" accept-charset="utf-8" class="pure-form">
    <input type="text" name="name" placeholder="search..." />
    <input type="submit" value="go" class="pure-button pure-button-primary"/>
</form>

{{template "footer" .Time.Year}}
